@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
 :root {
  --radius: 0.5rem;
 }
}

@layer utilities {
 .flex-stretch {
  flex: 1 1 auto;
 }
}

html,
body,
#root {
 min-height: 100dvh;
}

body {
 margin: 0 auto;
 max-width: 1920px;
 background: linear-gradient(137.75deg, #ffffff 69.95%, #43a2e2 232.84%);
}

#root {
 display: flex;
 flex-direction: column;
}

@font-face {
 font-family: "Mona Sans";
 src: url("./assets/fonts/Mona-Sans-UltraLight.ttf") format("truetype");
 font-weight: 100;
 font-style: normal;
}

@font-face {
 font-family: "Mona Sans";
 src: url("./assets/fonts/Mona-Sans-Light.ttf") format("truetype");
 font-weight: 200;
 font-style: normal;
}

@font-face {
 font-family: "Mona Sans";
 src: url("./assets/fonts/Mona-Sans-Regular.ttf") format("truetype");
 font-weight: 300;
 font-style: normal;
}

@font-face {
 font-family: "Mona Sans";
 src: url("./assets/fonts/Mona-Sans-Medium.ttf") format("truetype");
 font-weight: 400;
 font-style: normal;
}

@font-face {
 font-family: "Mona Sans";
 src: url("./assets/fonts/Mona-Sans-SemiBold.ttf") format("truetype");
 font-weight: 500;
 font-style: normal;
}

@font-face {
 font-family: "Mona Sans";
 src: url("./assets/fonts/Mona-Sans-Bold.ttf") format("truetype");
 font-weight: 600;
 font-style: normal;
}

@font-face {
 font-family: "Mona Sans";
 src: url("./assets/fonts/Mona-Sans-ExtraBold.ttf") format("truetype");
 font-weight: 700;
 font-style: normal;
}

@font-face {
 font-family: "Mona Sans";
 src: url("./assets/fonts/Mona-Sans-Black.ttf") format("truetype");
 font-weight: 800;
 font-style: normal;
}

::-moz-selection {
 background: #ceebff;
}

::selection {
 background: #ceebff;
}

.overlay {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;

 /* Customizable Gradient */
 background: linear-gradient(to bottom, white, transparent 150%);
}
